/* LAYOUT */
body {
  background: url(../img/texture-noise.png);
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

.page {
    margin: 10px auto;
    width: 980px;
}

#textdata {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
}


/* SVG */
line {
  stroke: #000;
  stroke-width: 1.5px;
}

svg {
  pointer-events: all;
}

circle {
  fill: blue;
}

path.countries {
  fill: #aaa;
  stroke: #fff;
}

path.points {
  fill: red;
  stroke: orange;
}
path.globe {
  fill: #a4bac7;
}
g.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

g.graticule :nth-child(2n) {
  stroke-dasharray: 2,2;
}
